Repository KyoriPowered/pygments-minimessage: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, poetry-check

ruff:
  name: ruff-check
  entry: poetry run ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  language: system

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

chore(build): add publish workflow
  .github/workflows/publish.yaml
Due: none

chore(build): Add verbose flag to test publish job
  .github/workflows/publish.yaml
Due: none

chore(build): Disable commit in version for publishing to TestPyPI
  pyproject.toml
Due: poetry-check

chore(build): Publishing works, re-add metadata for non-release builds
  pyproject.toml
Due: poetry-check

chore: set up a simple docs site
  .gitattributes
  .github/workflows/publish-docs.yaml
  .gitignore
  README.md
  docs/Makefile
  docs/_static/favicon.ico
  docs/conf.py
  docs/docutils.conf
  docs/examples.rst
  docs/index.rst
  docs/make.bat
  docs/version-history.rst
  poetry.lock
  pyproject.toml
  src/pygments_minimessage/__init__.py
Due: ruff, ruff-format, poetry-check

chore(ci): add workflow concurrency gates
  .github/workflows/check-format.yaml
  .github/workflows/publish.yaml
Due: none

chore: add project URL to pyproject metadata
  pyproject.toml
Due: poetry-check

chore(docs): Add links back to the repository from the docs site
  docs/Makefile
  docs/conf.py
  docs/make.bat
Due: ruff, ruff-format

chore(ci): Trigger docs build on releases too
  .github/workflows/docs.yaml
Due: none

chore(ci): Add missing permissions on release job
  .github/workflows/publish.yaml
Due: none

fix: Resolve deps directly from PyPI
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: Depend on ci-cookbook repo for shared actions
  .github/workflows/check-format.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
  renovate.json
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
